<html>
    <head>
        <title><%= title %></title>
    <link rel="stylesheet" src="public/stylesheets/style.css"/>
    </head>
    <body>
        welcome
        <%= dh %>
        <%- pzh %>
    </body>
</html>